.user-block
{
    padding-top: 10px;
    display: flex;
}
.user-avatar
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.user-description{
    padding-left: 20px;
    align-self: self-start;
}
.user-name
{
    color: black;
    font-size: 18px;
}
.title-block
{
    padding-top: 10px;
}